<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <title>Document</title>
</head>
<body class="container container--new">
   <header class="new">
    <nav class="navigation">
        <ul class="navigation__container">
            <li class="navigation__item">
                <a href="/" class="navigation__link navigation__link-active">Home</a>
            </li>
            <li class="navigation__item">
                <a href="/" class="navigation__link">News</a>
            </li>
            <li class="navigation__item">
                <a href="/" class="navigation__link">About</a>
            </li>
        </ul>
    </nav>
    <section class="create">
        <div class="card tr-up">
            <div class="card__form">
            <form action="/news" class="form" enctype="multipart/form-data" method="post" >
                <div class="form__group">
                    <p class="form__text">
                        Name
                    </p>
                    <input type="text" class="form__input" name="dataname">
                </div>
                <div class="form__group">
                    <p class="form__text">
                        Thumbnail
                    </p>
                    <input type="file" name="thumbnail" accept=".jpg, .png, .jpeg">
                </div>
                <div class="form__group">
                    <p class="form__text">
                        News Content
                    </p>
                    <textarea class="form__textarea" cols="25" rows="4" name="datacontent"></textarea>
                    <button type="submit" class="form__submit">Submit</button>
                </div>

            </form>
            </div>
        </div>
    </section>
   </header>
</body>
</html>